<%= form_for @city do |f| %>
<p>
  <%= f.label :nom %><br />
  <%= f.text_field :nom %>
</p>
<p>
  <%= f.label :latitude %><br />
  <%= f.text_field :latitude %>
</p>
<p>
  <%= f.label :longitude %><br />
  <%= f.text_field :longitude %>
</p>
<p><%= f.submit %></p>
<% end %>
